<%- include('partials/header.ejs') %>
<link rel="stylesheet" href="/css/index.css" />

<div class="heading">  
    
    <div> <h1>Submit your essays</h1> </div>
    
    <div class="rules">
        <p>Important Rules: </p>
        <ol>
            <li> Preferably upload a <strong>PDF</strong>.</li>
            <li> Enter the phone number submitted at time of registration <strong>ONLY</strong>.</li>
        </ol>
    </div>

    <h4>Please select the file type </h4>

    <div class="uploads">
        <div> <a href="/pdf"><button class="button">Upload <strong>PDF</strong></button></a> 
        </div>
        <div> <a href="/images"> <button class="button">Upload Images</button></a> 
        </div>
    </div>

</div>

<link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet' type='text/css'>
 
<%- include('partials/footer.ejs') %>


